body {
  color: black;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 100%;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  #site-title {
    font-size: 2em;
    margin: 0;
  }
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

table {
  width: 100%;
  thead {
    background-color: dodgerblue;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  td.left {
    text-align: left;
  }
  td.right {
    text-align: right;
  }
  td.center {
    text-align: center;
  }
  tfoot td {
    font-weight: bold;
  }
}
